.contacto {
    height: 100px;
    width: 100px;
  }
  
  .formulario {
    text-align: center;
    width: 500px;
    margin: auto;
    background-color: rgb(255, 203, 143);
    padding: 5px;
    align-items: center;
  }
  